[submodule "depot/lsp-julia/packages/CSTParser"]
	path = depot/lsp-julia/packages/CSTParser
	url = https://github.com/julia-vscode/CSTParser.jl
[submodule "depot/lsp-julia/packages/DocumentFormat"]
	path = depot/lsp-julia/packages/DocumentFormat
	url = https://github.com/julia-vscode/DocumentFormat.jl
[submodule "depot/lsp-julia/packages/FilePathsBase"]
	path = depot/lsp-julia/packages/FilePathsBase
	url = https://github.com/rofinn/FilePathsBase.jl
[submodule "depot/lsp-julia/packages/JSON"]
	path = depot/lsp-julia/packages/JSON
	url = https://github.com/JuliaIO/JSON.jl
[submodule "depot/lsp-julia/packages/LanguageServer"]
	path = depot/lsp-julia/packages/LanguageServer
	url = https://github.com/julia-vscode/LanguageServer.jl
[submodule "depot/lsp-julia/packages/StaticLint"]
	path = depot/lsp-julia/packages/StaticLint
	url = https://github.com/julia-vscode/StaticLint.jl
[submodule "depot/lsp-julia/packages/SymbolServer"]
	path = depot/lsp-julia/packages/SymbolServer
	url = https://github.com/julia-vscode/SymbolServer.jl
[submodule "depot/lsp-julia/packages/URIParser"]
	path = depot/lsp-julia/packages/URIParser
	url = https://github.com/JuliaWeb/URIParser.jl
[submodule "depot/lsp-julia/packages/Tokenize"]
	path = depot/lsp-julia/packages/Tokenize
	url = https://github.com/JuliaLang/Tokenize.jl
[submodule "depot/lsp-julia/packages/Parsers"]
	path = depot/lsp-julia/packages/Parsers
	url = https://github.com/JuliaData/Parsers.jl.git
